html,body { /*color de fondo página, textos generales */
    background: #020024;
    background: linear-gradient(36deg, rgba(2, 0, 36, 1) 11%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 80%);
    background-size: cover; /* Asegura que el gradient cubra toda el área */
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
 .header-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center; 
}  
 .vacio-container {
    width: 33%;
}  
 .titulo-container {
    width: 33%;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}  
 .titulo-container img { /* Icono del titulo */ 
    width: 50px;
    height: 68px;
    margin: 10px;
}
 .botones-login-container {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    height: auto;
}  
 .botones-sesion-login {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: #0F1359;
    color: #F2F2F2;
    text-decoration: none;
}
 .botones-sesion-login:hover {
    background-color: #0468BF;
}
 .prototipo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .prototipo-container img {
    max-width: 50%;
    margin: 2%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center
}
 .texto-descripción-container{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
}
 .descargaboton { /*Boton de descarga*/
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: #0F1359;
    color: #F2F2F2;
    text-decoration: none;
    margin-top: 10%;
}
 .descargaboton:hover {
    background-color: #0468BF;
}
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
 .mensaje-final{
    text-align: center;
    color: #F2F2F2;
    font-size: 12px;
}
@media (max-width: 720px){ /*vista movil*/
    html,body { /*color de fondo página, textos generales */
        background: #020024;
        background: linear-gradient(36deg, rgba(2, 0, 36, 1) 11%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 80%);
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
     .header-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
     .vacio-container {
        width: 100%;
        padding: 1%;
    }    
     .titulo-container {
        width: 100%;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
    }
     .titulo-container img { /* Icono del titulo */ 
        width: 37.5px;
        height: 51px;
        margin: 10px;
    }
     .botones-login-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }  
     .botones-sesion-login {
        margin: 5px;
        padding: 8px 12px; /* Ajusta padding para móvil */
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px; /* Ajusta tamaño de fuente para móvil */
        font-weight: bold;
        transition: background-color 0.3s ease;
        background-color: #0F1359;
        color: #F2F2F2;
        text-decoration: none;
    }
     .botones-sesion-login:hover {
        background-color: #0468BF;
    }
     .prototipo-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 5%;
    }
     .prototipo-container img {
        display: flex;
        width: 60%;
        height: 60%;
    }
     .texto-descripción-container{
        display: flex;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        color: #F2F2F2;
        font-weight: bold;
        font-size: 14px;
        margin-left: 10%;
        margin-right: 10%;
    }
     .descargaboton { /*Boton de descarga*/
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 12px;
        font-size: 16px; 
        font-weight: bold;
        transition: background-color 0.3s ease;
        background-color: #0468BF;
        color: #F2F2F2;
        text-decoration: none;
        margin-top: 10%;
    }
     .descargaboton:hover {
        background-color: #0468BF;
    }
     footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
    }
     .mensaje-final{
        text-align: center;
        color: #F2F2F2;
        font-size: 10px;
    }
}