html,body { /*color de fondo página, textos generales */
    background: #020024;
    background: linear-gradient(36deg, rgba(2, 0, 36, 1) 11%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 80%);
    background-size: cover; /* Asegura que el gradient cubra toda el área */
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
 .header-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center; 
}
 .vacio-container {
    width: 33%;
}  
 .titulo-container {
    width: 33%;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}  
 .titulo-container img { /* Icono del titulo */ 
    width: 50px;
    height: 68px;
    margin: 10px;
}
 .vacio1-container {
    width: 33%;
}  
 .cuadro1-container { /* Cuadro zona de login */
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 10px;
    max-width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
    align-items: center;    
}
 .elementos-internos{
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .titulo2-container { /*inciar sesión*/
    text-align: center;
    font-size: 30px;
    color: black;
}
 input[type="email"] {    
    width: 90%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    color: black;            
}
 input[type="password"]{    
    width: 90%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    color: black;
}
 .olvidaste-contraseña {
    display: block;
    margin: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}
 .olvidaste-contraseña:hover {
    text-decoration: underline;
}
 .loginboton {
    background-color: #0F1359;
    color: #F2F2F2;
    width: 90%;
    padding: 1.5%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 10px;
}
 .loginboton:hover {
    background-color: #0468BF;
}
 #boton-inicio-sesión {
    font-weight: bold;
}
 .error-container{
    color: red;
    font-size: 15px;
    text-align: right;
    margin-right: 5%;
}
 .contacto {/*mover a index*/
    display: block;
    margin: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}
 .contacto:hover {/*mover a index*/
    text-decoration: underline;
}
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
 .mensaje-final{
    text-align: center;
    color: #F2F2F2;
    font-size: 12px;
}
@media (max-width: 720px){ /*vista movil*/
    html,body { /*color de fondo página, textos generales */
        background: #020024;
        background: linear-gradient(36deg, rgba(2, 0, 36, 1) 11%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 80%);
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
     .vacio-container {
        width: 100%;
        padding: 1%;
    }    
     .titulo-container {
        width: 100%;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
    }
     .titulo-container img { /* Icono del titulo */ 
        width: 37.5px;
        height: 51px;
        margin: 10px;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        align-items: center; 
    }
     .titulo-container {
        width: 100%;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
    }
    .titulo-container img { /* Icono del titulo */ 
        width: 37.5px;
        height: 51px;
        margin: 10px;
    }
    .cuadro1-container { /* Cuadro zona de login */
        background-color: #F2F2F2;
        padding: 15px;
        border-radius: 10px;
        max-width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        align-items: center;    
    }
    .elementos-internos{
        max-width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo2-container { /*inciar sesión*/
        text-align: center;
        font-size: 30px;
        color: black;
    }
    input[type="email"] {    
        width: 90%;
        padding: 1%;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 25px;
        color: black;            
    }
    input[type="password"]{    
        width: 90%;
        padding: 1%;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 25px;
        color: black;
    }
    .olvidaste-contraseña {
        display: block;
        margin: 10px;
        text-align: center;
        color: black;
        text-decoration: none;
    }
    .olvidaste-contraseña:hover {
        text-decoration: underline;
    }
    .loginboton {
        background-color: #0F1359;
        color: #F2F2F2;
        width: 90%;
        padding: 1.5%;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        margin: 10px;
    }
    .loginboton:hover {
        background-color: #0468BF;
    }
    #boton-inicio-sesión {
        font-weight: bold;
    }
    .error-container{
        color: red;
        font-size: 15px;
        text-align: right;
        margin-right: 5%;
    }
    .contacto {/*mover a index*/
        display: block;
        margin: 10px;
        text-align: center;
        color: black;
        text-decoration: none;
    }
    .contacto:hover {/*mover a index*/
        text-decoration: underline;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
    }
    .mensaje-final{
        text-align: center;
        color: #F2F2F2;
        font-size: 10px;
    }
}