html { /*color de fondo página, textos generales */
    background: #020024;
    background: linear-gradient(36deg, rgba(2, 0, 36, 1) 11%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 80%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    margin: 0;
    height: 100%;
}
body { /* Estilos para la vista móvil por defecto */
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem auto; /* Centra el contenido */
}  
 .header-container {
    display: flex;
    flex-direction: column; /* Apila elementos en móvil */
    align-items: center;
    font-size: 16px; /* Tamaño de fuente base para móvil */
}
 .vacio-container {
    width: 100%;
    padding: 10px 0;
}   
 .titulo-container { /* Titulo superior */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}
 .titulo-container img { /* Icono del titulo */    
    width: 50px;
    height: auto;
    margin-right: 10px;
} 
 .titulo1-container { /* Titulo superior */
    background-color: #0F1359;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: #F2F2F2;
    border-radius: 10px;
    width: 250px;
    margin: 0 auto;
}
 .cuadros-container{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 2%;
}
 .cuadro1-container, .cuadro2-container { /*Cuadros de licencias*/
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    height: auto;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}
 .elementos-internos{
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
 .elementos1-internos{
    text-align: center;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;

}
 .licenciaboton {
    background-color: #0F1359;
    color: #F2F2F2;
    width: 90%;
    padding: 1.5%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 25px;
    margin-bottom: 25px;
}
 .licenciaboton:hover {
    background-color: #0468BF;
}
 #boton-licencia {
    font-weight: bold;
}
 .mensaje-final{
    text-align: center;
    color: #F2F2F2;
    font-size: 10px;
    margin-top: 10%;
}
 @media (min-width: 720px) {
    body {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }  
     .header-container {
       display: flex;
       flex-direction: column; /* Vuelve a la disposición horizontal */
       align-items: center; /* Alinea verticalmente */
       font-size: 16px; /* Ajusta tamaño de fuente para escritorio */
       padding: 10px 20px;
    }  
     .vacio-container {
       width: 33%;
       padding: 10px 20px;
    }  
     .titulo-container {
       margin-bottom: 0; /* Elimina el margen inferior en escritorio */
       justify-content: center;
    }  
     .titulo-container img {
       width: 50px; /* Ajusta tamaño para escritorio */
    }
}