html { /*color de fondo página, textos generales */
    background: #020024;
    background: linear-gradient(36deg, rgba(2, 0, 36, 1) 11%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 80%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    margin: 0;
    height: 100%;
}
body { /* Estilos para la vista móvil por defecto */
    width: 100%;
    margin: 2rem auto; /* Centra el contenido */
    align-items: center;
}  
 .header-container {
    display: flex;
    flex-direction: column; /* Apila elementos en móvil */
    align-items: center;
    font-size: 16px; /* Tamaño de fuente base para móvil */
}  
 .vacio-container {
    width: 100%;
    padding: 10px 0;
}  
 .titulo-container { /* Titulo superior */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}
 .titulo-container img { /* Icono del titulo */    
    width: 50px;
    height: auto;
    margin-right: 10px;   
}
 .cuadro1-container { /* Cuadro zona de crear cuenta */
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 10px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    position: relative;    
}
 .elementos-internos{
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .elementos-internos1{
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}
 .elementos-internos1 input[type="text"]{
    width: 48%;
    font-size: 16px;
    padding: 1%;
    box-sizing: border-box;
}
 .email-container{
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
}
 .email-container input[type="email"]{
    width: 98%;
    padding: 1%;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 15px;
}
 .password-container{
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
}
 .password-container input[type="password"]{
    width: 98%;
    padding: 1%;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 15px;
}
 .google-container{
    width: auto;
    height: 20px;
}
 .titulo2-container { /*Ingresa tus datos*/
    text-align: center;
    font-size: 30px;
    color: black;
    }
 .loginbotongoogle {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #0F1359;
    color: #F2F2F2;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
 .loginbotongoogle:hover {
    background-color: #0468BF;
}
 #boton-inicio-google {
    font-weight: bold;
}
 .texto-interno1{/*google*/
    font-size: 20px;
    text-align: center;
}
 .texto-interno2{/*inicia sesión con otro correo*/
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
}
 .texto-interno3{/*recomendación de contraseña*/
    font-size: 9px;
    text-align: center;
    margin-bottom: 25px;
}
 .mensaje-final{
    text-align: center;
    color: #F2F2F2;
    font-size: 10px;
    margin-top: 10%;
}
 .cuentaboton {
    background-color: #0F1359;
    color: #F2F2F2;;
    width: 90%;
    padding: 1.5%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 3px;
}
 .cuentaboton:hover {
    background-color: #0468BF;
}
 .mensaje-final{
    text-align: center;
    color: #F2F2F2;
    font-size: 10px;
    margin-top: 2%;
}
@media (min-width: 720px) {
    body {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }  
     .header-container {
       flex-direction: row; /* Vuelve a la disposición horizontal */
       justify-content: space-between; /* Espacia título y botones */
       align-items: center; /* Alinea verticalmente */
       font-size: 16px; /* Ajusta tamaño de fuente para escritorio */
    }  
     .vacio-container {
       width: 33%;
       padding: 10px 20px;
    }  
     .titulo-container {
       margin-bottom: 0; /* Elimina el margen inferior en escritorio */
       justify-content: center;
    }  
     .titulo-container img {
       width: 50px; /* Ajusta tamaño para escritorio */
    } 
}